.inner {
  background: rgb(250, 250, 248);
}

a, 
.title_blue {
  color: rgb(152, 197,227);
}

.data_link {
  width: 150px;
  
  font-size: 20px;
}

.blue {
  font-size: 25px;
  color: rgb(152, 197,227);
}

.profile_link {
  font-size: 23px;
}

